.ei-button {
  background-color: #42b983;
  border: 1px solid #42b983;
  outline: none;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  font-weight: 500;
  letter-spacing: 0.1em;
  user-select: none;
}
.ei-button:hover {
  filter: brightness(120%);
}
.ei-button:active {
  filter: brightness(80%);
}
.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
.eiButtonSmall {
  padding: 0.35em 0.8em;
}
.eiButtonMedium {
  padding: 0.6em 1.2em;
}
.eiButtonMini {
  padding: 0.1em 0.4em;
}
.elButtonLarge {
  padding: 0.7em 1.6em;
}
